Package: kms-elements
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends},
 gstreamer1.0-nice,
 kms-core,
 openh264-gst-plugin,
 openh264
 openwebrtc-gst-plugins
Description: Kurento Elements module
 Kurento Elements module - Binary libraries.